@use "../variables" as *;
@use "../mixins";

.add__review {
  margin-top: 2rem;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // color: $btnClrLg;

  .add__review-title {
    line-height: 2;
    text-align: center;
    text-transform: uppercase;

    & button {
      color: $mainGreen;
      text-decoration: underline;
      background: transparent;
    }
  }

  & img {
    width: 15rem;
    margin: 1rem;

    @include mixins.breakpoint-up(medium) {
      width: 17rem;
    }
  }

  .review__form-bcg {
    padding: 1rem;
    width: 70vw;
    background-color: $whiteColor;
    box-shadow: $boxSh;
    // border-radius: $radius;

    @include mixins.breakpoint-up(medium) {
      width: 50vw;
    }

    @include mixins.breakpoint-up(large) {
      width: 30vw;
    }

    .review__form {
      margin: 0 auto;
      padding: 0.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 1rem;

      @include mixins.breakpoint-up(medium) {
        row-gap: 1rem;
      }

      .form__control {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;

        .form__label {
          display: block;
          font-size: $fontMd;
          font-weight: $weightMd;
          text-transform: capitalize;
          margin-bottom: $mb-0-5;
        }

        .form__input {
          margin: 0 auto;
          font-family: inherit;
          font-size: $fontSm;
          color: $textColor;
          width: 95%;
          border: 1px solid $lightColor;
          transition: all 0.3s;
          border-radius: 4px;
          background-color: $whiteColor;
          padding: 0.1rem 0.3rem;

          &:focus {
            outline: none;
            border-bottom: 3px solid $mainGreen;
          }

          &:focus:invalid {
            border-bottom: 3px solid $mainRed;
          }

          &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $textColor;
            opacity: 1; /* Firefox */
          }

          &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $textColor;
          }

          &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $textColor;
          }
        }
      }

      & button {
        align-self: flex-end;
      }
    }
  }
}
