@use "../variables.scss" as *;
@use "../mixins";

.shopping__cart {
  position: relative;
  height: auto;

  .close__cart {
    position: fixed;
    top: 10%;
    right: 85%;
    cursor: pointer;
    z-index: 111;
    color: $textColor;
    background: transparent;
    font-weight: bold;
    padding: 0.3rem;
    border: none;
    box-shadow: none;

    @include mixins.breakpoint-up(large) {
      top: 10%;
      right: 75%;
    }
  }

  .sidebar__overlay {
    background-color: rgba($lightColor, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: end;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
    overflow-y: auto;

    &.shrink {
      transform: scaleY(0.01) scaleX(0);
    }

    &.expand {
      transform: scale(1);
      z-index: 110;
    }

    .sidebar-empty {
      position: fixed;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      & h1 {
        text-transform: uppercase;
        color: $mainDark;
      }
    }

    .sidebar {
      overflow-y: auto;
      position: fixed;
      top: 8%;
      right: 0%;
      height: 100vh;
      width: 17rem;
      padding: 1rem;
      box-shadow: $boxSh;
      background-color: $whiteColor;

      @include mixins.breakpoint-up(medium) {
        width: 48rem;
        height: auto;
        right: 1%;
      }

      .sidebar__title {
        margin: 0 auto;
        text-align: center;
        text-transform: uppercase;
        padding: 0.3rem 1rem;

        @include mixins.breakpoint-up(medium) {
          width: 17rem;
        }
      }

      &__footer {
        padding: 1rem;
        text-align: center;

        @include mixins.breakpoint-up(medium) {
          text-align: right;
        }
        .cart__total {
          color: $textColor;
          text-transform: capitalize;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 1rem;
          margin-top: $mb-1;
          padding-bottom: $mb-1;
          font-weight: bold;
          border-bottom: 1px solid $lightColor;

          @include mixins.breakpoint-up(medium) {
            justify-content: flex-end;
          }
        }

        .button--purchase {
          background: $paypalColor;
          font-size: $fontSm;
          text-transform: capitalize;
        }

        .button--clear {
          margin-top: $mb-2;
          background: $mainRed;
          font-size: $fontSm;
          text-transform: capitalize;

          &:hover {
            background-color: darken($mainRed, 20%);
          }
        }
      }

      .cart__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: $mb-1;
        padding: 1rem 0;
        box-shadow: $boxSh;
        color: $textColor;

        @include mixins.breakpoint-up(medium) {
          flex-direction: row;
          gap: 2rem;
          padding: 1rem;
          color: inherit;
        }

        & img {
          width: 70px;

          @include mixins.breakpoint-up(medium) {
            width: 60px;
          }
        }

        &-name {
          font-weight: 500;
        }

        .cart__item-quantity-btns {
          display: flex;
          align-items: center;

          .quantity__button {
            background: transparent;
            box-shadow: none;
            color: $textColor;

            &:disabled {
              color: $lightColor;
            }
          }

          .cart__item-quantity {
            font-size: $fontMd;
            font-weight: $weightLg;
          }
        }

        &-remove {
          background: none;
          box-shadow: none;
          font-size: 1.2rem;
          margin-left: auto;
        }
      }
    }
  }
}
